{% extends 'base.html.twig' %}

{% block title %}Edit Course{% endblock %}

{% block body %}
    <h1>Edit Course</h1>

    {{ include('course_api/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_course_a_p_i_index') }}">back to list</a>

    {{ include('course_api/_delete_form.html.twig') }}
{% endblock %}
