{% extends '@adminkit/base.html.twig' %}

{% block title %}Dashboard | {{backend_name}} {% endblock %}

{% block body %}

    <div class="d-flex mb-5">
        <div class="w-100">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    <h5 class="card-title">Eventos</h5>
                                </div>

                                <div class="col-auto">
                                    <div class="stat text-primary"><i class="align-middle" data-feather="calendar"></i></div>
                                </div>
                            </div>
                            <h1 class="mt-1 mb-3">{{events_count}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    <h5 class="card-title">Participantes</h5>
                                </div>

                                <div class="col-auto">
                                    <div class="stat text-primary"><i class="align-middle" data-feather="users"></i></div>
                                </div>
                            </div>
                            <h1 class="mt-1 mb-3">00.000</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('@backend/event/_list.html.twig') }}


{% endblock %}
