{% extends '@adminkit/base.html.twig' %}

{% block title %}Cursos | {{backend_name}} {% endblock %}

{% block body %}
    <div class="d-flex justify-content-between mb-3">
        <h1 class="h3 d-inline align-middle">Eventos</h1>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    
                    <h5 class="card-title mb-0">Adicionar Evento</h5>
                </div>
                <div class="card-body">
                        {{ include('@backend/event/_form.html.twig') }}

                    <div class="d-flex bd-highlight my-3">
                        <a class="btn btn-link px-0" href="{{ path('app_event_index') }}">Voltar para lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
