{% extends 'frontend/base.html.twig' %}

{% block title %}Confirmação de Presença{% endblock %}

{% block body %}
<style>
    .header { margin: 0; background-color: #2F9E41; padding: 20px 0; text-align: center; }
    .header img { max-height: 100px; }
</style>

    <h1 class="h1 text-center font-weight-bold mb-5"><strong>Bem-vindo!</strong></h1>
    
    <p class="h3 text-center"><strong>{{code.lecture.subtitle}}</strong></p>
    <p class="h4 text-center">{{code.lecture.lecturer}}</p>

    <div class="buttons text-center my-5">
        <a href="#" class="btn btn-danger btn-lg mb-3">Sou Aluno</a><br>
        <a href="#" class="btn btn-danger btn-lg mb-3">Não sou aluno</a>
    </div>

    
{% endblock %}
